body{
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1028px) {

}
.nav-link:hover{
  color: black !important;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  padding-bottom: 5rem;
  margin-top: 70px;
}
.store-btn{
  margin-bottom: 5rem;
}
#title{
  background-color: #ff4c68;
  color: white;
}
#features{
  background-color: white;
  position: relative;
  z-index: 1;
}
.rotateimg180 {
  position: relative;
    margin-left: 20%;
    top: 10%;
  width: 30%;
}
.container-fluid{
padding: 3rem 11rem;

}
.download-btn{
  padding-left: 11.5rem;
}
h1{
  color: white;
  size: 3rem;
  line-height: 1.5;
  margin-bottom: 5%;
}

.icons-tips{
  font-size: 5rem;
  color: #ef8172;
  margin-bottom: 5%;
}
.icons-tips:hover{
  color: #ff4c68;
}

.h3-tips{
  font-size: 1.5rem;
  font-weight: bold;
}

#features{
  padding: 7% 10%;
}
.feature-box{
  text-align: center;
  padding-bottom: 2%;
}

#testimonials{
  padding:  7% 10%;
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.dog-talk{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}
.dog-img{
  width: 15%;
  border-radius: 100%;
  margin: 2%;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 2%;
}
.press-img{
  width: 15%;
  margin: 3rem;
}
#pricing {
  padding: 100px;
  text-align: center;

}
.dog-pricing-quote{
  padding-left: 1.5%;
}
.pricing-column{
  padding: 3% 2%;
}
#cta{
  padding-top: 5%;
  background-color: #ff4c68;
  text-align: center;
}
#footer{
  text-align: center;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
